<div>
  <p><strong>Library Name: </strong><%= @library.name %></p>
  <p><strong>Floors: </strong><%= @library.floor_count %></p>  
  <p><strong>Floor Area: </strong><%= @library.floor_area %> sq. feet</p>  
</div>